/* high-level layout */

body {
	margin: 0;
	padding: 0;

	background: #F7F7F7;

	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

header, article, footer, main > header figure {
	max-width: 51em;
	margin: 1em auto;
	padding: 0 0.5em;
}

article, main > header figure {
	background: #F0F0F0;
	border: 1px solid #AAA;
	border-radius: 1.5em;
}

/* header */

main > header figure {
	max-width: 512px; /* 480px + 16px * 2 */
	padding: 0.5em;

	border-radius: 3.5em 3.5em 1.5em 1.5em;

	text-align: center;
	font-weight: bold;
}

main > header img {
	display: block;

	border: 0.33em solid white;
	border-radius: 1em;

	text-align: center;
	font-size: 3em;
	line-height: 1em;
}

/* footer */

footer {
	text-align: center;
}

/* content */

p {
	margin: 0 0.5em 1.5em 0.5em;
}

h2 {
	margin: 0.5em -0.25em;
	padding-left: 1em;

	border-bottom: 2px solid #999;

	font-size: 2em;
	line-height: 1.5em;
}


h2 a {
	display: inline-block;
	width: 100%;
}

h3 {
	margin: 0 0.5em 0.5em 0.5em;

	font-size: 1.25em;
	line-height: 1.2em;
	margin-top: 1.2em;
}

aside, .infobox {
	margin: 0.5em 0;
	padding: 0.5em;

	border: 1px solid #AAA;
	background: #FFF;
	border-radius: 1em;
	overflow: hidden;
}

aside.warning {
	background-color: #FFDEDE;
	border-color: #C66;
}

aside.info {
	background-color: #FFFFDE;
	border-color: #CC6;
}

aside p, .infobox p, .infobox figcaption {
	margin: 0;
}

figure.infobox dfn {
	font-weight: bold;
	font-style: normal;
}

figure.infobox img {
	margin: 0;

	border-radius: 0.5em;
}

figure.leftimg img {
	margin-right: 0.5em;
	float: left;
}

figure.rightimg img {
	margin-left: 0.5em;
	float: right;
}

figure.rightimg figcaption {
	display: inline;
}

p {
	margin-bottom: 1.5em;
}

a:link, a:visited {
	color: #1B5466;
	text-decoration: none;
}

a:hover {
	color: #36A7CC;
}

dt:target, dt:target + dd, figure:target {
	background-color: #FFF7E6;
}

ul {
	margin: 8px;
	padding: 0 0 0 32px;
}

.screenshots img {
        float: left;
        width: 375px;
}

table {
        padding-left: 32px;
}

table td {
	border-radius: 4px;
	border: 1px solid #AAA;
}

kbd {
	display: inline-block;
	padding: 2px 4px;

	background: #FFF7E6;
	border-color: #E6DECF;
	border-width: 1px 3px 3px 1px;
	border-style: solid;
	border-radius: 5px;

	font-weight: bold;
	line-height: 1em;
}

samp {
	font-weight: bold;
}

dl {
	margin: 0.5em;
}

dt {
	font-weight: bold;
}
